doctype html
html(lang=en)
  head
    title Hi
    script(src="https://fb.me/react-0.14.7.js")
    script(src="https://fb.me/react-dom-0.14.7.js")

  body
    h1 hi there dude
    
    a(href="/login") Log in
    br
    a(href="/signup") Sign up
    
    #app
    script(src="/c/app.js")
    
  
    
